name: Action - Create Release
on:
  workflow_dispatch:

env:
  NODE_VERSION: 18

jobs:
  create:
    name: Create
    runs-on: ubuntu-latest
    steps:
      # - name: Create draft release
      #   uses: softprops/action-gh-release@v1
      #   with:
      #     draft: true
      #     tag_name: "test_name"
      #     generate_release_notes: true
      - uses: actions/checkout@v4
        with:
          ref: main
          fetch-depth: 0
      - name: Determine previous tag
        id: latest_tag
        run: |
          latest_tag=$(gh release list --limit 1  --json tagName --jq '.[0].tagName')
          echo "latest_tag=$latest_tag" >> $GITHUB_OUTPUT
      - name: Get current main commit SHA
        id: main_commit
        run: |
          main_sha=$(git rev-parse HEAD)
          echo "sha=$main_sha" >> $GITHUB_OUTPUT
      - name: Generate semvers
        id: generate_next_semvers
        uses: WyriHaximus/github-action-next-semvers@v1
        with:
          version: ${{ steps.latest_tag.outputs.latest_tag }}
      - name: Pick next tag
        id: next_tag
        run: echo "next_tag=${{ steps.generate_next_semvers.outputs[format('v_{0}', github.event.inputs.type)] }}" >> $GITHUB_OUTPUT
      - name: Create draft release
        id: create_release
        run: |
          gh release create ${{ steps.next_tag.outputs.next_tag }} \
            --notes-start-tag ${{ steps.latest_tag.outputs.latest_tag }} \
            --generate-notes \
            --target ${{ steps.main_commit.outputs.sha }} \
            --draft
